<div style="text-align:center">
  <h1>
    get-set POC!
  </h1>
</div>
<div *ngIf="account">
  <h3>Form</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="Name">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">DBA:
        <input class="form-control" formControlName="DBA">
      </label>
    </div>
    <div class="form-group">
      <label class="center-block">BusinessStartDate:
        <input class="form-control" formControlName="BusinessStartDate">
      </label>
    </div>
    <button>Save</button>
  </form>
  <hr />
  <p>{{account.AccountID}}</p>
  <p>{{account.Name}}</p>
  <p>{{account.DBA}}</p>
  <p>{{account.BusinessStartDate}}</p>
</div>
